@import "~taro-ui/dist/style/components/toast.scss";

.collection-container {
  padding: 10px 0 40px 0;
  background-color: #f5f6f8;;

  .my-collection {
    margin: 30px 0 0 20px;
    font-size: 40px;
  }
}

.list-container {
  margin: 0 40px;
}

.collection-card {
  border-radius: 10px;
  margin-top: 40px;
  border: 20px solid #fff;
}

.colors-list {
  display: flex;
  justify-content: flex-end;
  align-self: center;

  .item {
    flex: 1;
    height: 40px;
  }
}

.operator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #fff;
  color: rgba(0,0,0,.45);
}