.colors-container {
  display: flex;


  .colors-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    overflow-x: auto;

    .colors-list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .colors-item {
      margin-bottom: 20px;
      width: 200px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      border-radius: 10px;
      color: #fff;
      box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3)
    }
  }

  .colors-info {
    width: 100%;
    height: 100vh;
    text-align: right;
    transition: all .6s ease-in-out;
  }
}