.colors-container {
  background-color: rgba(255, 254, 248, .87);

  .title {
    position: fixed;
    left: calc(50% - 180px);
    top: 10px;
    font-size: 60px;
    text-align: center;
  }

  .color-picker {
    margin-top: 100px;
    height: 65vh;
  }

  .colors-list{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .colors-item {
    flex: 1 auto 0;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  .active {
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #6B400D;
  }

  .colors-info {
    margin: 20px 40px 20px 40px;
    height: 20vh;
    padding: 20px;
    text-align: left;
    font-size: 28px;
    color: rgba(255, 254, 248, 1);
    transition: all .45s ease-in-out;

    &:first-child {
      font-size: 48px;
      margin-bottom: 20px;
    }
  }
}