.colors-container {
  background-color: #f5f6f8;
  padding-bottom: 20rpx;

  .navigate {
    display: flex;
  }

  .navigate-item {
    width: 120px;
    height: 120px;
    color: #fff;
    line-height: 120px;
    text-align: center;
  }

  .act {
    height: 124rpx;
    box-shadow: 0px 0px 10px 2px rgba(107, 64, 13, 1);
  }

  .color-picker {
    height: 65vh;
  }

  .colors-list{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f5f6f8;
  }

  .colors-item {
    flex: 1 auto 0;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

  .active {
    box-shadow: 0px 0px 12px 1px rgba(107, 64, 13, 1);
  }

  .colors-info {
    margin: 20px 40px 20px 40px;
    height: 22vh;
    padding: 20px;
    text-align: left;
    font-size: 28px;
    color: rgba(255, 254, 248, 1);
    transition: all .75s ease-in-out;
    text-shadow: rgba(107, 64, 13, .75) 1px 0 10px;

    &:first-child {
      font-size: 48px;
      margin-bottom: 20px;
    }
  }
}