.color-card {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.color-output {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;

  .item {
    color: #aaa;
  }

  .color-piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}