@import "~taro-ui/dist/style/components/tag.scss";
.recognition-container {
  background-color: #f5f6f8;
  padding: 20px;
  overflow-y: scroll;
}

.color-card {
  position: relative;
}

.move-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  // overflow: visible;
}

.move-dot {
  position: absolute;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  border: 8rpx solid #fff;
  cursor: crosshair;
  overflow: hidden;
  background-color: #fff;
  margin: -50rpx;
  transition: transform .2s ease;
}

.picture {
  image-rendering: pixelated;
  position: absolute;
  left: 25px;
  top: 25px;
  overflow: hidden;
  pointer-events: none;
  transform-origin: 0 0;
  width: 1000px;
  // position: relative;
  user-select: none;
  transition: all 0s ease;
  opacity: 0;
  box-shadow: rgba(0,0,0,.02) 0 0 0 1px inset;
}

.color-card {
  margin: 20px;
  border: 20px solid #fdfdfd;
  border-radius: 10px;
  background-color: #fff;
}

.color-output {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;

  .item {
    color: #aaa;
  }

  .color-piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .active {
    transform: scale(1.15);
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .55);
  }
}

.color-params {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.color-block {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.magnifier {
  vertical-align: middle;
  text-align: center;
}

.collection {
  margin-top: 20px;
  text-align: right;
}

.loading {
  display: flex;
  justify-content: center;
  transform: rotate(360deg);
  transition: all 1s ease-in;
}