@import "~taro-ui/dist/style/components/tag.scss";
.recognition-container {
  background-color: #f5f6f8;
  padding: 20px;
}

.color-card {
  margin: 20px;
  border: 20px solid #fdfdfd;
  border-radius: 10px;
  background-color: #fff;
}

.color-output {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;

  .item {
    color: #aaa;
  }

  .color-piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.color-params {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.color-block {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.magnifier {
  vertical-align: middle;
  text-align: center;
  z-index: 1000;
}

.collection {
  text-align: right;
}

.loading {
  display: flex;
  justify-content: center;
  transform: rotate(360deg);
  transition: all 1s ease-in;
}