.index {
  // background: linear-gradient(rgb(204, 84, 204), rgb(86, 51, 168));

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .title {
    margin-top: 30px;
  }
}

.camera-area {
  margin-top: 100%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: yellow;

  .at-icon {
    padding: 30px;
  }
}